<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vendedores</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/output.css}">
</head>
<body >
    <div class="layout-grid">
        <aside class="layout-left">
            <!-- Espacio reservado -->
        </aside>

        <!-- Columna central (2/4) -->
        <div class="layout-center flex-grow">
            <!-- Buscador -->
            <div class="flex justify-center mb-6">
                <form th:action="@{/vendedores/findByNombre}" method="get" class="form-search">
                    <input
                        type="text"
                        name="name"
                        th:value="${nombreBuscado}"
                        id="searchInput"
                        placeholder="Buscar vendedores..."
                        class="search-input"
                    />
                    <button type="submit" class="bg-blue-500 text-white p-2 rounded">Buscar</button>
                </form>
            </div>

            <!-- Lista de Vendedores -->
            <div id="vendedoresList" >

                <th:block th:if="${#lists.isEmpty(vendedores)}">
                    <div class="empty-state">
                        <p class="empty-text">No se han encontrado Vendedores</p>
                        <img th:src="@{/image/no-data.png}" alt="No data" class="empty-image">
                    </div>
                </th:block>

                <a th:each="vendedor : ${vendedores}"
                    class="card pl-20 pr-10 block w-[70%] mx-auto" 
                    style="cursor: pointer;"
                    th:href="@{/item-menu/{id}(id=${vendedor.id})}">
                    <h2 class="title" th:text="${vendedor.nombre}"></h2>
                    <p class="text" th:text="${vendedor.direccion}"></p>
                </a>
            </div>
        </div>

        <aside class="layout-right">
            <!-- Espacio reservado -->
        </aside>
    </div>
</body>
</html>
